.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #fafafa;
  border-radius: 10px;
  width: 450px;
  margin: auto;
  margin-bottom: 12px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.icon {
  fill: #fafafa;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.text {
  font-size: 22px;
  font-weight: 600;
}

.btn {
  margin-right: 12px;
}
