:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.05em;

  color-scheme: light dark;
  color: rgba(238, 232, 232, 0.87);
  background-color: rgba(15, 15, 15, 0.767);
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-weight: 500;
  color: #e2dce0;
  text-decoration: inherit;
}
a:hover {
  color: #e2dce0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2b2929fb;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #e2dce0;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #e2dce0;
  }
  button {
    background-color: #f9f9f9;
  }
}
