.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

.btn:hover {
  background-color: rgb(238, 241, 9);
  color: rgb(61, 61, 61);
}

.text {
  font-weight: bolder;
}

.div {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 15px;
}
